.sq1 {
    width: 150px;
    height: 150px;
    background: red;
    border-radius: 50%;
    border: solid black 1px;
    box-shadow: 0 0 5px 2px;
}
.sq2 {
    width: 150px;
    height: 150px;
    background: rgb(3, 85, 17);
    border-radius: 50%;
    border: solid black 1px;
    box-shadow: 0 0 5px 2px;
    
}
.p2 {
    position: absolute;
    top: 150px;
    left: 150px;
}
.sq3 {
    width: 150px;
    height: 150px;
    background: rgb(31, 8, 160);
    border-radius: 50%;
    border: solid black 1px;
    box-shadow: 0 0 5px 2px;
}
.p3 {
    position:absolute;
    left: 300px;
    top: 300px;
}