/* 
бомба клас

тут таке ж побажання як і з rectangle - змінити класи

Для справки
box-shadow також приймає 5й парметр - колір
box-shadow: 0 0 5px 2px rgb(0, 0, 255); - спробуй всяке

Кружочки
якщо в тебе є квадрат
    width: 150px;
    height: 150px;
    
І тобі треба зробити з нього круг,
то є два шляхи
border-radius: 50%; ( і більше, тобто якщоти вкажеш більше 50%, круг буде кругом)
border-radius: 150px; (тобто бордер радіус має бути рівним ширині і висоті)
*/

.sq1 {
    width: 150px;
    height: 150px;
    background: red;
    border-radius: 50%;
    border: solid black 1px;
    box-shadow: 0 0 5px 2px;
}
.sq2 {
    width: 150px;
    height: 150px;
    background: rgb(3, 85, 17);
    border-radius: 50%;
    border: solid black 1px;
    box-shadow: 0 0 5px 2px;
    
}
.p2 {
    position: absolute;
    top: 150px;
    left: 150px;
}
.sq3 {
    width: 150px;
    height: 150px;
    background: rgb(31, 8, 160);
    border-radius: 50%;
    border: solid black 1px;
    box-shadow: 0 0 5px 2px;
}
.p3 {
    position:absolute;
    left: 300px;
    top: 300px;
}