.square-red {
    width: 150px;
    height: 150px;
    background: red;
    border: solid black 1px;
}
.square-green {
    width: 150px;
    height: 150px;
    background: rgb(3, 85, 17);
    border: solid black 1px;
    
}
.position-green {
    position: absolute;
    top: 75px;
    left: 75px;
}
.square-blue {
    width: 150px;
    height: 150px;
    background: rgb(31, 8, 160);
    border: solid black 1px;
}
.position-blue {
    position:absolute;
    left: 150px;
    top: 150px;
}