/* 
бомба клас

що тут можна покращити?
1. зверни увагу, що в класах sq1, sq2, sq3 дублюються стилі (ширина, висота, бордер)
тож їх можна об"єднати в один клас наприклад square

2. я б змінив класи на більш зрозумілі
sq1, sq2, sq3 - square
p2, p3 - square-green, square--blue
*/

.sq1 {
    width: 150px;
    height: 150px;
    background: red;
    border: solid black 1px;
}
.sq2 {
    width: 150px;
    height: 150px;
    background: rgb(3, 85, 17);
    border: solid black 1px;
    
}
.p2 {
    position: absolute;
    top: 75px;
    left: 75px;
}
.sq3 {
    width: 150px;
    height: 150px;
    background: rgb(31, 8, 160);
    border: solid black 1px;
}
.p3 {
    position:absolute;
    left: 150px;
    top: 150px;
}