* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Blue background */
.background {
    width: 100%;
    max-width: 700px;
    background-color: rgba(46, 77, 145, 0.589);
    margin: auto;
    padding: 25px 5px 10px 5px;
}

/* White background */
.wrapper {
    padding: 0 60px;
    background-color: white;
}

/* Top image and a text */
.margin-top {
    margin-top: 20px;
}
.header {
    width: 100%;
    text-align: center;
}
.header_img {
    width: 100%;
    max-width: 600px;
}
.parents_center {
    text-align: center; 
}

.list_item {
    margin: 20px 0px 0px 25px;
}
/* image sign button in a column */
.column_image {
    width: 100%;
    max-width: 250px; 
}
.text_bolt {
    font-weight: bold;
}
.button {
    background-color: rgb(173, 54, 54);
    height: 40px;
    color: cornsilk;
    border-radius: 7px;
    border: solid white;
    outline:none;
    
}
.button:hover {
    background-color: orange;
    transition: 2s;
}
.object_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
 /* objects in a raw */
 .raw {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
 }
/* bottom button */
.bottom_button-size {
    width: 100%;
}
 /* bottom blue background */
 .bottom_background-blue {
     background-color: rgba(46, 77, 145, 0.589) ;
     height: 200px;
 }
 .bottom_objects-centre {
     text-align: center;
 }

 /* size picture facebook -vk */
.picture_size_vk {
    width: 50px;
    
}

/* bottom text */
.cancel_subscription {
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    color: honeydew;
}


@media screen and (max-width: 650px) {
    .wrapper {
        padding: 0 30px;
    }
}


@media screen and (max-width: 580px) {
    .wrapper {
        padding: 0px;
    }

    .info-text {
        padding: 0 10px;
    }
}


@media screen and (max-width: 530px) {
    .object_column {
        width: 100%;
    }
}