* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    background-color: rgb(207, 195, 195);
    width: 700px;
    height: 1450px;
    padding-top: 40px;
    margin: auto;
}

.wrapper {
    width: 600px;
    height: 1300px;
    background-color: white;
    margin: auto;
    font-weight: normal;
}

.header_img {
    width: 600px;
}

/* information text */
.friends {
    text-align: center;
}

.paragraph_distance {
    margin-bottom: 20px;
    margin-left: 30px;
}

span {
    font-weight: bold;
}

.raw {
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between;
}

/* first raw of objects */
.width_object_1raw {
    width: 250px;
    margin: 0 20px 20px 20px;
}

.img_first_raw {
    height: 200px;
}
/* button for both raws */
.button_background {
    background: red;
    height: 40px;
    border-radius: 5px;
    color: seashell;
    text-align: center;
    line-height: 40px;
}
.button_background:hover {
    background: lawngreen;
    cursor: pointer;
}
/* second raw of objects */
.width_object_2raw {
    width: 150px;
    margin: 0 20px 20px 20px;
}
.img2 {
    height: 200px;  
}
.bottom_sign {
    margin-left: 30px;
    margin-top: 10px;
}
.button_like_doc {
    margin: 50px 15px;
}
.cancel_subscription {
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    color: honeydew;
}