.square {
    width: 100px;
    height: 100px;
    transition: 2s;
    border: solid red;
    background: red;
    margin: 20px;
    cursor: pointer;
}

/* move side */
.square1 {
}
.square1:hover {
    transform: translate(100px,0);
}
/* move around */
.square2 {
}
.square2:hover {
  transform: rotate(60deg);
}

/* change into circle */
.square3 {
}
.square3:hover {
    background-color: green;
    border-radius: 50px;
    border: rgb(95, 136, 95);
}
/* change size */
.square4 {
}
.square4:hover {
    transform: scale(1.2);
}
/* shadow */
.square5 {
}
.square5:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.912);
;
}
.square6 {
}
.square6:hover {
    border-radius: 50px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.912);
    transform: translate(200px) rotate(360deg);
}

.square7 {
    position: relative;
    left: 0px;
    top: 0px;
    box-shadow: 2px 2px 15px 0px BLACK;
    transition: .5s;
}

.square7:hover {
    left: -2px;
    top: -2px;
    box-shadow: 4px 4px 25px 0px BLACK;
}